In [1]:
library(readr)

In [2]:
input_file <- "mounted-data/sex-height-cohort.csv"

In [3]:
df <- readr::read_csv(file = input_file)

Parsed with column specification:
cols(
  i = col_double(),
  `Height-2.0` = col_double(),
  `Genetic_sex-0.0` = col_character()
)

In [4]:
head(df)

  i       Height-2.0 Genetic_sex-0.0
1 1005108 186        Female
2 1009694 187        Female
3 1010785 189        Male
4 1015028 186        Female
5 1020361 186        Female
6 1025626 189        Male

In [5]:
df$FID <- df$i
df$IID <- df$i
df$i <- NULL
df$sex <- df$`Genetic_sex-0.0` 
df$`Genetic_sex-0.0`  <- NULL
df$height <- df$`Height-2.0`
df$`Height-2.0` <- NULL
head(df)

  FID     IID     sex    height
1 1005108 1005108 Female 186
2 1009694 1009694 Female 187
3 1010785 1010785 Male   189
4 1015028 1015028 Female 186
5 1020361 1020361 Female 186
6 1025626 1025626 Male   189

In [6]:
head(dplyr::mutate(df, PHE = ifelse(sex == 'Male', 1, 0)))

  FID     IID     sex    height PHE
1 1005108 1005108 Female 186    0
2 1009694 1009694 Female 187    0
3 1010785 1010785 Male   189    1
4 1015028 1015028 Female 186    0
5 1020361 1020361 Female 186    0
6 1025626 1025626 Male   189    1

In [7]:
df <- dplyr::mutate(df, PHE = ifelse(sex == 'Male', 1, 0))
df$sex <- NULL
head(df)

  FID     IID     height PHE
1 1005108 1005108 186    0
2 1009694 1009694 187    0
3 1010785 1010785 189    1
4 1015028 1015028 186    0
5 1020361 1020361 186    0
6 1025626 1025626 189    1

In [8]:
readr::write_tsv(df, path = "sex_binary_height_phenofile.phe")