# Transform csv to phenofile

## Imports

In [2]:
import sys
import glob
import json
import pandas as pd
from itertools import groupby
import csv
import numpy as np

## Load data

In [32]:
c

i,Height-2.0,Genetic_sex-0.0
"1002062",151,"Female"
"1006077",150,"Male"
"1010580",152,"Male"
"1040293",151,"Male"
"1063992",150,"Male"
"1077051",151,"Male"
"1083887",151,"Male"
"1084616",153,"Female"
"1103009",151,"Female"

In [4]:
df_csv = pd.read_csv("data/cohort-test.csv")
df_csv.head()

         i  Height-2.0 Genetic_sex-0.0
0  1002062         151          Female
1  1006077         150            Male
2  1010580         152            Male
3  1040293         151            Male
4  1063992         150            Male

In [33]:
!head data/sample-batch-site.phe

FID IID PAT MAT SEX PHE site batch
1	1	0	0	1	2	2	2
2	2	0	0	1	1	1	4
3	3	0	0	1	2	1	2
4	4	0	0	1	2	1	2
5	5	0	0	2	2	2	2
6	6	0	0	2	2	3	1
7	7	0	0	2	2	3	4
8	8	0	0	2	2	3	4
9	9	0	0	2	2	3	1

In [10]:
df_phe = pd.read_csv("data/sample-batch-site.phe", sep='\t', 
                     names=['FID','IID','PAT','MAT','SEX','PHE','site','batch'],
                     skiprows=[0])
df_phe.head()

   FID  IID  PAT  MAT  SEX  PHE  site  batch
0    1    1    0    0    1    2     2      2
1    2    2    0    0    1    1     1      4
2    3    3    0    0    1    2     1      2
3    4    4    0    0    1    2     1      2
4    5    5    0    0    2    2     2      2

## Transform csv into phenofile

In [30]:
def decode_function(x):
    if x == 'Male':
        return 1
    elif x == "Female":
        return 2
    else:
        return x

In [31]:
df_csv_phe = pd.DataFrame()

for column in df_csv.columns:
    if column == 'i':
        df_csv_phe['FID'] = df_csv[column]
        df_csv_phe['IID'] = df_csv[column]
    else:
        col_name = column.split('-')[0].upper()
        if '_' in col_name:
            col_name = col_name.split('_')[1]
        df_csv_phe[col_name] = df_csv[column].map(decode_function)
df_csv_phe.head()

       FID      IID  HEIGHT  SEX
0  1002062  1002062     151    2
1  1006077  1006077     150    1
2  1010580  1010580     152    1
3  1040293  1040293     151    1
4  1063992  1063992     150    1

## Save file

In [35]:
df_csv_phe.to_csv("data/converted_csv.phe", sep='\t', index=False)